.container2 {
    max-width: 1140px;
    margin: 0 auto;
}

.about__article{
    display: flex;
    padding: 80px 0 0 0;
}
.about__article div{
    max-width: 720px;
}
.about__article p{
    
    margin: auto 40px 0 0 ;
}