.offer{
    background-color: #fff;
    padding: 107px 0 106px 0;
}
.offer .main__btn{
    margin: 0 auto;
}

.brand__slider{
    max-width: 1566px;
    margin: 0 auto;
    padding: 80px 10px 106px 10px;
}
.brand__item{
    padding: 47px 41px 47px 41px;
    height: 720px !important;
    display: flex !important;
    flex-direction: column;
    justify-content: end;
}
.brand__item h3{
    font: 500 26px var(--playfair);
    color: #fff;
    background: linear-gradient(270deg, rgba(255,255,255,0) 15%, rgba(0,0,0,0.5970763305322129) 79%);
    padding: 5px 10px;
    border-radius: 5px 0 0 5px;
}
.text{
    display: none;
}
.babor{
    background: url(../img/boutique/slide1.png) center/cover;
}
.bellef{
    background: url(../img/boutique/slide2.png) center/cover;
}
.spiler{
    background: url(../img/boutique/slide3.png) center/cover;
}