header{
    min-height: initial;
}

.left__menu button rect, #page>nav button, #page>nav a, .right__menu p:last-child a{
    fill: var(--gray);
    color: var(--gray);
    border-color: var(--gray);
}
