header{
    min-height: initial;
}
.container2 {
    max-width: 1160px;
    margin: 0 auto;
}

.left__menu button rect, #page>nav button, #page>nav a, .right__menu p:last-child a{
    fill: var(--gray);
    color: var(--gray);
    border-color: var(--gray);
}
.contact{
    padding: 200px 0 0 0;
    display: flex;
}
.contact h2{
    text-align: left;
}
