.width__border  .offer__img{
    position: initial;
}
.width__border{
    padding-bottom: 0;
    max-width: 1220px;
}
.width__border P{
    margin-bottom: 20px;
}
.width__border .offer__desc{
    background: inherit;
}

.width__border .offer h3, .width__border .offer__desc p{
    width: 100%;
}
.programms{
    max-width: 1415px;
}
.offer__desc{
    padding: 108px 0 96px 100px;

}
.article > div:last-child{
    max-width: 1410px;
}
.overflow__contain-h .offer__desc{
    background-color: inherit;
}
.article h3{
    margin: 0 0 5px 0;
}

.overflow__contain-h .offer h3,.overflow__contain-h .offer__desc p{
    width: 100%;
}
.overflow__contain-h .offer__desc{
    margin: 0;
}