.container{
    max-width: 1540px;
    margin: 0 auto;
}

header{
   position: relative;
    min-height: 100vh;
    
}
nav{
    display: flex;
    justify-content: space-between;
    z-index: 5;
    position: relative;
    padding: 46px 59px 24px 52px;
    align-items: start;
    text-transform: uppercase;
}
.left__menu{
    display: flex;
}
.menu button{
    background: none;
    border: 0;
    color: #fff;
    font: 18px/14px var(--playfair);
    margin: 0 42px 0 0 ;
    text-transform: inherit;
}
.menu span{
    margin: 0 21px 0 0 ;
}
nav a{
    color: #fff;
    font: 14px/21px Inter;
}
.right__menu a{
    font-family: var(--playfair);
    line-height: 26px;
}
.right__menu p:last-child{ a
    border: 1px solid #fff;
    text-align: center;
}
.header__background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.header__background img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
