.container{
    max-width: 1540px;
    margin: 0 auto;
}

header{
   position: relative;
    min-height: 100vh;
    overflow: hidden;
}
.header__background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
