.offer__desc{
    padding: 108px 0 133px 60px;
}
.offer__img{
    top: 108px;
}
.price{
    display: block;
    margin: 5px 0;
    color: #702E58;
}
.massage__item {
    margin: 0 10px;
}


@media only screen and (max-width: 800px) {
    .programms{
        margin: 40px auto 0 auto;
    }
    .offer__desc{
        padding: 15px 10px 20px 10px;
    }
}