.offer{
    max-width: 1300px;
}
.offer__desc h2{
    text-align: left;
    padding: 0;
}
.offer__desc p{
    margin: 10px 0 20px 0;
}
.offer h3{
    text-align: center;
}
.offer:last-child .offer__desc{
    text-align: center;
    margin:  0 54px 0 0;
}