.spa__slider{
    padding: 80px 0 91px 0;
}
.slide__item{
    display: flex !important;
    flex-direction: column;
    margin: 0 5px;
    height: inherit !important;
}
.container2{
    max-width: 1200px;
}
.section__title{
    max-width: 1060px;
    margin: auto;
    text-align: center;
}
.spa__slider img{
    max-height: 520px;
}
.mobile__slide{
    display: none !important;
}
.offer__desc .main__btn{
    margin: 0 auto;
}

.rituals{
    display: flex;
    max-width: 1020px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: stretch;
}
.rituals > div:first-child{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
}

.rituals > div:last-child{
    flex-basis: calc(50% - 82px);
    
}



.rituals h3{
    font: 500 26px var(--playfair);
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0 0 24px 0;

}
.rituals p{
    margin: 40px 0 20px 0 ;
}

@media only screen and (max-width: 450px) {
    .slide__item{
        display: block !important;
        height: initial !important;
    }
    .slider__desc{
        height: initial;
    }
    .slick-track{
        align-items: start;
    }
    .spa__slider img{
        max-height: 400px;
    }
    .mobile__slide{
        display: flex;
    }
    .spa__slider{
        padding: 40px 0 0 0;
    }
}
