.spa__slider{
    padding: 80px 0 91px 0;
}
.slide__item{
    display: flex !important;
    flex-direction: column;
    margin: 0 5px;
    height: inherit !important;
}
.slick-list{
    padding: 0 !important;
}
.container2{
    max-width: 1200px;
}
.section__title{
    max-width: 1060px;
    margin: auto;
    text-align: center;
}
.spa__slider img{
    max-height: 520px;
}
.mobile__slide{
    display: none !important;
}
.offer__desc .main__btn{
    margin: 0 auto;
}
.offer:last-child .main__btn{
    margin:  0;
}

.rituals{
    display: flex;
    max-width: 1020px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: stretch;
}
.rituals > div:first-child{
    flex-basis: 50%;
   
}

.rituals > div:last-child{
    flex-basis: calc(50% - 82px); 
    margin: 0 0 120px 0;   
}
.rituals > div{
    display: flex;
    flex-direction: column;
}

.rituals h3{
    font: 500 26px var(--playfair);
    letter-spacing: 2px;
    margin: 0 0 24px 0;
}
h3{
    text-transform: uppercase;
}
.rituals p{
    margin: 40px 0 20px 0 ;
}

.modal__wrapper{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #00000033;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    flex-direction: column;
}
.modal__content{
    max-width: 1540px;
    margin: auto;
    background-color: #fff;
    display: flex;
    overflow: auto;
}
.modal__img, .modal__info{
    width:  50%;
}
.modal__info{
    padding: 67px 65px 59px 65px;
}

.modal__title{
    margin: 40px 0 20px 0;
    font: 500 26px var(--playfair);
    color: var(--gray);
}
.modal__info p{
    font: 17px/26px Inter;
    letter-spacing: 0.2px;
    color: var(--gray);
}
.price{
    color: #702E58;
}


@media only screen and (max-width: 800px){
    .rituals{
        flex-direction: column;
        padding: 0 10px;
        gap: 15px 0;
    }
    .rituals > div:last-child{
        margin: 0;
    }
}
@media only screen and (max-width: 500px) {
    .slide__item{
        display: block !important;
        height: initial !important;
    }
    .slider__desc{
        height: initial;
    }
    .slick-track{
        align-items: start;
    }
    .spa__slider img{
        max-height: 400px;
    }
    .mobile__slide{
        display: flex;
    }
    .spa__slider{
        padding: 40px 0 0 0;
    }
    .rituals{
        display: none;
    }
    .offer {
        padding: 0;
    }
    .width__border  .offer__desc{
        padding: 15px 10px;
    }
    .section__title p{
        margin: 10px 0 0 0;
    }
}
