header{
    min-height: 70vh;
    display: flex;
}
.header__background{
    position: absolute;
}
.container2 {
    max-width: 1160px;
    margin: 0 auto;
}

.intro{
    position: relative;
    z-index: 10;
    margin: auto;
    width: 100%;
    padding: 0 10px;
    text-align: left;
}
.intro h1{
    color: #fff;
    font: 500 36px var(--playfair);
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 0 0 15px 0;
}
.intro p{
    color: #fff;
    font: 17px/26px Inter;
    letter-spacing: 0.2px;
}