.rituals{
    padding: 80px 0 0 0;
}
.rituals > div:last-child{
    margin: 0;
}

.swimm{
    background: url(../img/tempComp/offer1.png) center/cover;
}

.phytobar{
    background: url(../img/tempComp/offer2.png) center/cover;
}

.rent{
    background: url(../img/tempComp/offer3.png) center/cover;
}
.brand__item.slick-slide {
    height: inherit ;
}
.brand__slider{
    padding: 40px 10px 80px 10px;
}
.spa__menu__title{
    margin: 0;
}
.slider__desc{
    margin: 0;
}
.slider__desc h3{
    margin: 15px 0 20px 0;
}
.slick-next{
    right: -84px;
}
.slick-prev{
    left: -84px;
}
.spa__slider {
    max-width: 1368px;
}
